In [5]:
# dependencies and setup
import pandas as pd
from sqlalchemy import create_engine

In [6]:
# Store  Calendar CSV to DataFrame
calendar_csv = "Resources/calendar.csv"
calendar_df = pd.read_csv(calendar_csv)

FileNotFoundError: [Errno 2] File Resources/calendar.csv does not exist: 'Resources/calendar.csv'

In [49]:
calendar_df.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

In [50]:
calendar_df.rename(index=str,columns={"date":"date"},inplace=True)
# convert to datetime
calendar_df["date"]=pd.to_datetime(calendar_df["date"])

In [51]:
# convert to boolean
calendar_df["available"].replace(["t","f"], [True,False], inplace=True)

In [52]:
# remove dollar sign
calendar_df["price"] = calendar_df["price"].replace({'\$': '', ',': ''}, regex=True)
# convert the price column to numeric values 
calendar_df["price"] = pd.to_numeric(calendar_df["price"])
calendar_df.head()

   listing_id       date  available  price
0    12147973 2017-09-05      False    NaN
1    12147973 2017-09-04      False    NaN
2    12147973 2017-09-03      False    NaN
3    12147973 2017-09-02      False    NaN
4    12147973 2017-09-01      False    NaN

In [53]:
calendar_df.head(500)

     listing_id       date  available  price
0      12147973 2017-09-05      False    NaN
1      12147973 2017-09-04      False    NaN
2      12147973 2017-09-03      False    NaN
3      12147973 2017-09-02      False    NaN
4      12147973 2017-09-01      False    NaN
..          ...        ...        ...    ...
495     3075044 2017-04-14       True   75.0
496     3075044 2017-04-13       True   65.0
497     3075044 2017-04-12       True   65.0
498     3075044 2017-04-11       True   65.0
499     3075044 2017-04-10       True   65.0

[500 rows x 4 columns]